body {
    margin : 0;
    background : url(pics/background.png);
	background-attachment : fixed;
	background-size : 100%;
	background-repeat : no-repeat;
}

hr {
    background-color : #A4A4A4;
    border-color : #A4A4A4;
}

.meter { 
	height: 20px;
	position: relative;
	margin: 60px 0 20px 0;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
	display: block;
	height: 100%;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	-o-border-radius-topright: 8px;
	-o-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	-o-border-radius-topleft: 20px;
	-o-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(43,194,83)),
	    color-stop(1, rgb(84,240,84))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
	background-image: -o-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
	-webkit-box-shadow: 
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	-o-box-shadow: 
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	box-shadow: 
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

.orange > span {
	background-color: #f1a165;
	background-image: -moz-linear-gradient(top, #F1A165, #F36D0A);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #F36D0A));
	background-image: -webkit-linear-gradient(#F1A165, #F36D0A);
	background-image: -o-linear-gradient(#F1A165, #F36D0A);
}
		
.red > span {
	background-color: #f0a3a3;
	background-image: -moz-linear-gradient(top, #F0A3A3, #F42323);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F0A3A3),color-stop(1, #F42323));
	background-image: -webkit-linear-gradient(#F0A3A3, #F42323);
	background-image: -o-linear-gradient(#F0A3A3, #F42323);
}

.style_01 {
	font-family : 'Cambria';
    font-size : 24px;
    color : #FFFFFF;
    text-align : center;
    margin-top : -10px;
}

.style_02 {
	font-family : 'Cambria';
    font-size : 16px;
    color : #000000;
}

.style_03 {
	font-family : 'Cambria';
    font-size : 18px;
    color : #000000;
}

.style_04 {
	font-family : 'Cambria';
    font-size : 20px;
    color : #000000;
}

.style_05 {
	font-family : 'Cambria';
    font-size : 14px;
    color : #2E2E2E;
}

.style_06 {
	font-family : 'Cambria';
    font-size : 22px;
    color : #000000;
    text-align : center;
}

.style_07 {
	font-family : 'Cambria';
    font-size : 20px;
    font-weight : bold;
    color : #000000;
    text-align : right;
    border : 1px;
    border-color : #FFFFFF;
}

#load {
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#background_01 {
	height : 36px;
	background-color : #0A9611;
}

#patient {
	padding : 0;
	margin : 0;
}

#nurse {
	padding : 0;
	margin : 0;
}

#navbar {
    padding-top : 5px;
    padding-bottom : 10px;
}

#navigation {
    margin : 0;
    background : #DDEEBB;
    width : 100%;
    text-align : center;
}

#navigation ul {
    list-style : none;
    margin : 0;
    padding : 0;
    overflow: hidden;
}

#navigation ul li {
    padding : 0;
    display : inline;
}

#navigation ul a:link{
    margin : 0;
    text-decoration : none;
    font-weight : bold;
    font-size : 24px;
    color : #000000;
}

#navigation ul a:active{ 
    margin : 0;
    padding : .3em .4em .3em .4em;
    text-decoration : none;
    color : #000000;
    font-weight : bold;
    font-size : 26px;
}

#navigation ul a:hover{
    margin : 0;
    padding-bottom : 3em;
    padding-top : 3em;
    font-weight : bold;
    font-size : 24px;
    color : #FFFFFF;
    background-color : #000000;
}

#footer {
    position : fixed;
    bottom : 20px;
    right : 20px;
    width : 100%;
    height : 20px;
}
