body {
    padding : 10px;
    margin : 0;
    background : url(pics/background.png);
	background-attachment : fixed;
	background-size : 100%;
	background-color : #337ab7;
	background-repeat : no-repeat;
}

progress {  
    background-color : #0000FF;
    border: 0 ;
    width : 300px;
    height : 25px;  
    border-radius : 10px;  
}

.border_01 {
    border-color : #000000;
    border-width : 5px;
}

.style_01 {
	font-family : 'Cambria';
    font-size : 24px;
    color : #FFFFFF;
    text-align : center;
    margin-top : -10px;
}

.style_02 {
	font-family : 'Cambria';
    font-size : 16px;
    color : #000000;
}

.style_03 {
	font-family : 'Cambria';
    font-size : 18px;
    color : #000000;
}

.style_04 {
	font-family : 'Cambria';
    font-size : 20px;
    color : #000000;
}

#background_01 {
	height : 36px;
	background-color : #0A9611;
}

#patient {
	padding : 0;
	margin : 0;
}

#nurse {
	padding : 0;
	margin : 0;
}
