body {
    margin : 0;
    background : url(pics/background.png);
	background-attachment : fixed;
	background-size : 100%;
	background-repeat : no-repeat;
}

progress {  
    background-color : #0000FF;
    border: 0 ;
    width : 300px;
    height : 25px;  
    border-radius : 10px;  
}

.style_01 {
	font-family : 'Cambria';
    font-size : 24px;
    color : #FFFFFF;
    text-align : center;
    margin-top : -10px;
}

.style_02 {
	font-family : 'Cambria';
    font-size : 16px;
    color : #000000;
}

.style_03 {
	font-family : 'Cambria';
    font-size : 18px;
    color : #000000;
}

.style_04 {
	font-family : 'Cambria';
    font-size : 20px;
    color : #000000;
}

.style_05 {
	font-family : 'Cambria';
    font-size : 14px;
    color : #2E2E2E;
}

#navbar {
    padding-top : 10px;
    padding-bottom : 10px;
}

#background_01 {
	height : 36px;
	background-color : #0A9611;
}

#patient {
	padding : 0;
	margin : 0;
}

#nurse {
	padding : 0;
	margin : 0;
}

#navigation {
    margin : 0;
    background : #DDEEBB;
    width : 100%;
    text-align : center;
}

#navigation ul {
    list-style : none;
    margin : 0;
    padding : 0;
    overflow: hidden;
}

#navigation ul li {
    padding : 0;
    display : inline-block;
}

#navigation ul a:link{
    margin : 0;
    text-decoration : none;
    font-weight : bold;
    font-size : 24px;
    color : #004415;
}

#navigation ul a:hover{
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    color: #F6F0CC;
    background-color: #227755;
}
