body {
    margin : 0;
    background : url(pics/welcome.jpg);
	background-attachment : fixed;
	background-size : 100%;
	background-repeat : no-repeat;
}

.style_01 {
	font-family : 'Cambria';
    font-size : 24px;
    color : #FFFFFF;
    text-align : center;
    margin-top : -10px;
}

.style_02 {
	font-family : 'Cambria';
    font-size : 16px;
    color : #000000;
}

.style_03 {
	font-family : 'Cambria';
    font-size : 18px;
    color : #000000;
}

.style_04 {
	font-family : 'Cambria';
    font-size : 20px;
    color : #000000;
}

.style_05 {
	font-family : 'Cambria';
    font-size : 14px;
    color : #2E2E2E;
}

.style_06 {
	font-family : 'Cambria';
    font-size : 20px;
    font-weight : bold;
    color : #FFFFFF;
    text-align : right;
    border : 1px;
    border-color : #000000;
}

#load {
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#background_01 {
	height : 36px;
	background-color : #0A9611;
	border-width : 1px;
    border-color : #000000;
}

#navbar {
    padding-top : 5px;
    padding-bottom : 10px;
}

#navigation {
    margin : 0;
    background : #A4A4A4;
    width : 100%;
    text-align : center;
}

#navigation ul {
    list-style : none;
    margin : 0;
    padding : 0;
    overflow : hidden;
}

#navigation ul li {
    padding : 0;
    display : inline;
}

#navigation ul a:link{
    margin : 0;
    text-decoration : none;
    font-weight : bold;
    font-size : 24px;
    color : #000000;
}

#navigation ul a:hover{
    margin : 0;
    padding-bottom : 3em;
    padding-top : 3em;
    font-weight : bold;
    font-size : 24px;
    color : #FFFFFF;
    background-color : #000000;
}

#footer {
    position : fixed;
    bottom : 20px;
    right : 20px;
    width : 100%;
    height : 20px;
}
